<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>World DB App</title>
    </h:head>
    <h:body>
<!--        <h:form>
            <div class="card">
                <p:dataTable var="product" value="#{productView.todoItems}">
                    <p:column headerText="Code">
                        <h:outputText value="#{product.id}" />
                    </p:column>

                    <p:column headerText="Name">
                        <h:outputText value="#{product.name}" />
                    </p:column>

                    <p:column headerText="Category">
                        <h:outputText value="#{product.category}" />
                    </p:column>

                    <p:column headerText="Quantity">
                        <h:outputText value="#{product.quantity}" />
                    </p:column>
                </p:dataTable>
            </div>
        </h:form>

        <h:form>
            <p:dialog 
                header="Products detail" 
                showEffect="fade" 
                modal="true" 
                widgetVar="manageProductDialog">
                <p:outputPanel id="manage-product-content" class="ui-fluid">
                    <p:outputPanel rendered="#{not empty productView.selectedItems}">
                        <div class="p-field">
                            <p:outputLabel for="name">Name</p:outputLabel>
                            <p:inputText id="name" value="#{productView.name}" required="true"/>
                        </div>
                        <div class="p-field">
                            <p:outputLabel for="description">Description</p:outputLabel>
                            <p:inputTextarea id="description" value="#{productView.name}"/>
                        </div>
                    </p:outputPanel>
                </p:outputPanel>
                <f:facet name="footer">
                    <p:commandButton value="Guardar" icon="pi pi-check" actionListener="#{productView.saveProduct}"
                                     update="manage-product-content" process="manage-product-content @this"/>
                    <p:commandButton value="Cancelar" icon="pi pi-times" onclick="PF('manageProductDialog').hide()"
                                     class="ui-button-secondary"/>
                </f:facet>
            </p:dialog>
            <p:commandButton value="Show" type="button" onclick="PF('manageProductDialog').show()" />
            <p:commandButton value="Hide" type="button" onclick="PF('manageProductDialog').hide()" />
        </h:form>-->

    </h:body>
</html>
